<md-toolbar color="warn">

    <span><b>Everything Google</b></span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <button *ngIf="!loggedIn" onclick="window.location.href='/auth/google'" md-raised-button color="primary">Login</button>
    <span *ngIf="loggedIn"><b>Welcome {{username}}</b></span>
</md-toolbar>


<br/><br/>

<router-outlet></router-outlet>



<footer>
    <img src="assets/images/vietanhhlogo.png">
</footer>
