<h1 class="text-center my-title">Please choose one of the following API's</h1>
<!--<hr>-->
<br><br>

<md-grid-list cols="4">


	<!--GOOGLE MAPS-->
	<md-grid-tile>
			<md-card class="md-card-card" (click)="changeRoute('maps-api')">
				<md-card-header>
					<img md-card-avatar src="assets/images/googlemaps-avatar.png">
					<md-card-title>Google Maps</md-card-title>
					<md-card-subtitle>Including Gps</md-card-subtitle>
				</md-card-header>
				<img md-card-image src="assets/images/googlemaps.jpg">
				<md-card-content>
					<p>Pretty much the only API that people use in terms of maps...lol</p>
				</md-card-content>
			</md-card>
	</md-grid-tile>



	<!--GMAIL-->
	<md-grid-tile>
		<md-card class="md-card-card" (click)="changeRoute('gmail-api')">
			<md-card-header>
				<img md-card-avatar src="assets/images/gmail-avatar.png">
				<md-card-title>Gmail</md-card-title>
				<md-card-subtitle>Includes sending emails to others</md-card-subtitle>
			</md-card-header>
			<img md-card-image src="assets/images/gmail.jpg">
			<md-card-content>
				<p>Best API to spam companies.</p>
			</md-card-content>
		</md-card>
	</md-grid-tile>



	<!--GOOGLE DRIVE-->
	<md-grid-tile>
		<md-card class="md-card-card" (click)="changeRoute('drive-api')">
			<md-card-header>
				<img md-card-avatar src="assets/images/google-drive-avatar.jpg">
				<md-card-title>Google Drive</md-card-title>
				<md-card-subtitle>Uploading, downloading, searching files</md-card-subtitle>
			</md-card-header>
			<img md-card-image src="assets/images/google-drive.jpg">
			<md-card-content>
				<p>Store your favorite porn =]</p>
			</md-card-content>
		</md-card>
	</md-grid-tile>




	<!--YOUTUBE-->
	<md-grid-tile>
		<md-card class="md-card-card" (click)="changeRoute('youtube-api')">
			<md-card-header>
				<img md-card-avatar src="assets/images/youtube-avatar.png">
				<md-card-title>Youtube</md-card-title>
				<md-card-subtitle>Video sharing</md-card-subtitle>
			</md-card-header>
			<img md-card-image src="assets/images/youtube.jpg">
			<md-card-content>
				<p>Hello, my name is Boxxy</p>
			</md-card-content>
		</md-card>
	</md-grid-tile>



</md-grid-list>
